doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        // Place favicon.ico and apple-touch-icon.png in the root directory
        // build:css styles/vendor.css
        // bower:css
        link(rel='stylesheet', href='styles/bootstrap.min.css')
        // endbower
        // endbuild
        // build:css({.tmp,app}) styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        // endbuild

    body(ng-app='ngBookExamples')
        //if lt IE 7
          p.browsehappy
            | You are using an
            strong outdated
            | browser&period; Please
            a(href='http://browsehappy.com/') upgrade your browser
            | to improve your experience&period;
        // Add your site or application content here



        h1 layout definition
        header.red this is a header
            div
                ul
                    li
                        a(href='/books/ng-book/') Home
                    li
                        a(href='/books/ng-book/#/form') form
                    li
                        a(href='/books/ng-book/#/directive') directive






        .container(ng-view='')


        footer.red this is A footer


        //if lt IE 9
          script(src='scripts/vendor/es5-shim.min.js')
          script(src='scripts/vendor/json3.min.js')
        // build:js scripts/vendor.js
        // bower:js
        script(src='scripts/vendor/jquery.min.js')
        script(src='scripts/vendor/angular.min.js')
        script(src='scripts/vendor/angular-animate.min.js')
        script(src='scripts/vendor/bootstrap.min.js')
        script(src='scripts/vendor/angular-resource.min.js')
        script(src='scripts/vendor/angular-cookies.min.js')
        script(src='scripts/vendor/angular-sanitize.min.js')
        script(src='scripts/vendor/angular-route.min.js')
        // endbower
        // endbuild



        //angulart scripts customize
        // build:js({.tmp,app}) scripts/scripts.js
        script(src='scripts/app.js')
        script(src='scripts/controllers/main.js')
        // endbuild
                 