.header
    ul.nav.nav-pills.pull-right
        li.active
            a(ng-href='#') Home
        li
            a(ng-href='#') About
        li
            a(ng-href='#') Contact
    h3.text-muted playgroundCoffeeAngular



    h3.underline.red data-binding
    span Your Name :
    input(type='text', ng-model='preson.name', placeholder='Your Name')
    br
    span Your Age :
    input(type='text', ng-model='preson.age', placeholder='Your Age')
    br
    span Your Career :
    input(type='text', ng-model='preson.career', placeholder='Your Career')


    pre {{ preson }}


    h5 your Name is:  {{  preson.name }}
    h5 Your Age is :  {{  preson.age }}

    h3.underline.red show the time every second updating
    span {{ clock.now | date:'dd-MM-yyyy HH:MM:ss' }}



    h3 show the time in  Json  :
    span {{  jsonClock | date:'dd-MM-yyyy HH:MM:ss' }}



    h4.underline.red Add/Subtract methods
    button.button(ng-click='addCounter(1)') Add
    a.button.alert(ng-click='despositCounter(-1)') Subtract
    h4 Current count: {{  counter }}



